/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
html, body{
    height: 100%;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navigation{
    li{
        @extends .medium;
        padding:5px 10px;
        transition: all 0.6s;
        &:hover{
            background-color:rgba(0,0,0,0.8);
        }
        a{
            color: white;
            cursor: pointer;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
#description{
    margin: 0;
    &.absolute{
    bottom:0px;
    }
    &.fixed{
        top: 0px;
    }
}
.container{
    .card{
        padding:2em;
        margin-top:-200px;
    }
}
#contact{
    margin-top: -200px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
    .card{
        box-shadow: 0px 0px 10px rgba(0,0,0,5)
    }
   .video-container{
    position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    video{
      min-width: 100%;
      min-height: 100%;
      /* Setting width & height to auto prevents the browser from stretching or squishing the video */
      width: auto;
      height: auto;
      /* Center the video */
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
}   
    .top-space{
        margin-top: 2em;
    }
    .food{
        height: 300px;
        background-size:cover;
        background-position:center;
        padding:0px;
        overflow: hidden;
        &:hover{
            .screen{
                top: 0%;
            }
        }
        .screen{
            top: -100%;
            background-color:rgba(0,0,0,0.8);
            height: 100%;
            width: 100%;
            position: relative;
            transition: top 0.8s;
        }
    }
    #menu-title{
        width: 300px;
        z-index: 5;
        top: 50%;
        left: 50%;
        left: calc(50% - 150px);
        top:  calc(50% - 2.5em);
    }
    .height-85{
        height: 85%;
    }
    .subtitle{
        font-size: 2.5em;
    }
    .white{
        background-color:white;
    }
    .slim{
        font-weight: 200;
    }
    .black{
        background-color:#000;
    }
    .dancing-script{
        font-family: 'Dancing Script', cursive;
    }
    .title{
        font-size: 4em;
    }
    .top{
        top: 1em;
    }
    .right{
        right: 4em;
    }
    .bottom{
        bottom:0;
    }
    .fixed{
        position:fixed;
    }
    .medium{
        font-size: 1.5em;
    }
    .white-text{
        color:white;
    }
    .black-text{
        color: black;
    }
    .full-height{
        height: 100%;
    }
    .full-width{
        width: 100%;
    }
    .row{
        margin: 0;
    }
    .no-margin{
        margin: 0;
    }
    .relative{
        position:relative;
    }
    .absolute{
        position:absolute; 
    }
    .up{
        z-index: 5;
    }
    .large-padding{
        padding: 5px 10px;
    }
    #gallery{
        width: 100%;
        overflow-x:hidden; 
        .inner{
            white-space:nowrap;
            position:relative;
            left: 0%;
            transition: left 0.8s;
        }
        .image{
            display: inline-block;
            height: 100vh;
            width: 100%;
            margin-right: -4px;
            background-size:cover;
            background-position:center;
        }
    }
    .path-step{
        width: 1.5em;
        height: 1.5em;
        border-radius:50%;
        background-color:#a2a2a2;
        margin-top: 2em;
        opacity: 0.4s;
        transition: all 0.4s;
        display: inline-block;
        &.active{
            opacity: 1;
            background-color:white;
            box-shadow: 0px 0px 5px rgba(250,250,250,0.8);
        }
    }
.step-form{
    .step{
        max-height: 0px;
        overflow: hidden;
        transition: all 0.4s;
        margin:0px;
        &.active{
            max-height: 150px;
            padding: 1em 0.5em;
        }
        input,textarea{
            font-size:2em;
            padding:0.5em;
            border:none;
            outline: none;
            border-bottom: solid 1px #eee;
            background-color:transparent;
            width: 100%;
        }
    }
}
#location{
    width:80%;
    margin:0 auto;
    margin-top: -50px;
}
#map{
    height: 500px;
}
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}