%html{class:"no-js", lang:"es"}
    %head
        %meta{charset:"utf-8"}
        %title El blog oscuro
        %link{rel:"stylesheet",href:"style.css"}
        %meta{name:"viewport",content:"width=device-width,initial-scale=1"}
        %meta{name:"description",content:"Comunidad anime para postear o recomendar animes"}
    %body
        %p#message Parece que no pudimos conectarnos a internet, no hay problema, aqui esta la informacion que necesitas.
        .container
            %h1 Restaurante Facilito
            %p
                %strong Dirección
                Av Mariscal la mar 634
            %p
                %strong Horario
                5pm - 11pm
            %p
                %strong No se encuentra la conexion e internet pero de todos modos les dejamos toda la informacion posible para que lo disfrute
            #map
                %img{src:"off.png"}
                %p aqui hay un mapa para poder ubicarnos