html,body{
	height: 100%;
	width: 100%;
}
body{
	background-image:url('/DeveloperWeb/assets/img/wallper.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    overflow: hidden;
}
.white-text{
	color: white;
}
a{
	text-decoration: none;
}
.medium{
	font-size: 2em;
}